h1 {
    background-color: green;
    color: black;
}

p {
    padding: 10px;
    background-color: black;
    color: yellow;
}

.contenedor {
    padding: 10px;
    border: 2px solid black;
}

.contenido {
   text-align: center;
}

.parrafo {
    background-color: aqua;
    color: black;
}