h1 {
    background-color: green;
    color: black;
}

p {
    padding: 10px;
    background-color: black;
    color: yellow;
}

.contenedor {
    padding: 10px;
    border: 2px solid black;
}

.contenido {
   text-align: center;
}

.titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.titulo h2 {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
}

header img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: aqua;
    margin-bottom: 20px;
    
footer {
    text-align: center;
}